<app-content-loader [displayProgressSpinner]="isLoadingData"></app-content-loader>

<mat-card class="example-card" [ngClass]="{'liked':liked}">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{author?.name}}</mat-card-title>
    <mat-card-subtitle>{{photo.album.title}}</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image [src]="photo.thumbnailUrl" alt="Photo of a Shiba Inu">

  <mat-card-content>
    <p style="height: 56px;">
      {{ photo.title }}
    </p>
  </mat-card-content>

  <mat-card-actions  align="end">
    <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon" (click)="like()">
      <mat-icon *ngIf="!liked">favorite_border</mat-icon>
      <mat-icon *ngIf="liked">favorite</mat-icon>
    </button>

    <button mat-icon-button (click)="openDialog()"><mat-icon >chat_bubble_outline</mat-icon></button>
  </mat-card-actions>
</mat-card>

<app-modal-detail-photo
  *ngIf="showModal"
  #modal
  [photo]="photo"
  [post]="post"
  (closeEvent)="closeModal()"
></app-modal-detail-photo>
