.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding-bottom: 16px;
  height: 260px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

@media screen and (max-width: 1100px) {
  .card {
    height: 300px;
    width:175px;
  }
}

@media screen and (max-width: 600px) {
  .card {
    height: 300px;
    width:90%;
  }
}

img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 100%;
}

.text-container{
  padding-left: 5px;

}

.img-gradient {
  position: relative;
  width: 100%;
  height: 150px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.img-gradient:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, .3);
}

.button {
  position: absolute;
  width: 100%;
  left:0;
  top: 105px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.button a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
  border-radius: 15px;
  cursor:pointer;
}

.img-gradient:hover .button {
  opacity: 1;
}

