<app-content-loader [displayProgressSpinner]="isLoadingData"></app-content-loader>

<div class="main">
  <div class="form">
    <p class="title">Login</p>

    <form (ngSubmit)="onLogin()" name="loginForm" [formGroup]="loginForm">
      <div class="emailInput">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <input
            formControlName="email"
            matInput
            placeholder="Enter email address"
            required
          />
          <mat-error *ngIf="!loginForm.controls['email'].valid">
            Enter email address
          </mat-error>
        </mat-form-field>
      </div>

      <div class="nameInput">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Name</mat-label>
          <input
            formControlName="name"
            matInput
            placeholder="Enter name"
            required
          />
          <mat-error *ngIf="!loginForm.controls['name'].valid">
            Enter name
          </mat-error>
        </mat-form-field>
      </div>

      <div class="genderSelect">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Gender</mat-label>
          <mat-select formControlName="gender">
            <mat-option value="male">Male</mat-option>
            <mat-option value="female">Female</mat-option>
          </mat-select>
          <mat-error *ngIf="!loginForm.controls['gender'].valid">
            Enter gender
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Password</mat-label>
          <input
            formControlName="password"
            matInput
            [type]="hide ? 'password' : 'text'"
            required
          />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide Password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>
              {{ hide ? "visibility_off" : "visibility" }}
            </mat-icon>
          </button>
          <mat-error *ngIf="!loginForm.controls['password'].valid">
            Enter Password
          </mat-error>
        </mat-form-field>
      </div>
      <div class="button-section">
        <button
          type="submit"
          [disabled]="!loginForm.valid"
          mat-stroked-button
          color="warn"
        >
          Log in
        </button>
      </div>
    </form>
  </div>
</div>
