<app-content-loader [displayProgressSpinner]="isLoadingData"></app-content-loader>
<div #myModal class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <img [src]="photo.url" alt="Avatar" />
    <div class="row">
      <div class="modal-column">
        <div class="row" style="align-items: end; flex-direction: column">

          <p style="padding-left: 5px"><strong>Title photo:</strong> {{ photo?.title }}</p>

        </div>
        <div class="row" style="justify-content: flex-end">
          <fa-icon [icon]="faComment"></fa-icon>{{ comments.length }}
        </div>
      </div>
      <br />
    </div>
    <hr class="solid" />
    <form [formGroup]="modalForm">
      <div class="modal-column">
        <h3 style="margin: 0px">
          <b>{{ post.title }}</b>
        </h3>
        <p >{{ post.body }}</p>

      </div>
      <span style="padding-right: 35px; padding-bottom: 10px; float:right">Please insert a comment here</span>
      <div class="comment-area">
        <textarea formControlName="comment" maxlength="140"></textarea>
        {{ modalForm.controls["comment"].value.length }}/140
        <div style="display: flex; justify-content: right">
          <button
            mat-raised-button
            color="primary"

            [disabled]="modalForm.invalid"
            (click)="saveComment()"
          >
            Publish
          </button>
        </div>
      </div>
    </form>

    <div class="section-comment" *ngIf="comments.length>0">
      <p>Last comments</p>
      <div class="comments">
        <div class="comment" *ngFor="let comment of comments">
          <app-comment [comment]="comment"></app-comment>
        </div>
      </div>
    </div>
  </div>
</div>
