.comment-image img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.comment-image{
  width:65px;
}

.comment-image,.comment-body{
  float:left;
}
.comment-body{
  width:80%;
  padding-top: 10px;
}

p{
  padding:10px 10px 3px 10px;
  margin-bottom: 0px;

}

.comment-text{
  border-radius: 0 10px 10px 10px;
  background: lightgray;
}

.line-clamp {
  height: 4rem;
}

.more {
  font-size: 0.8rem;
  color: dodgerblue;
  cursor: pointer;
  padding-left: 10px;
}
.date-field{
  padding-top: 10px;
}
