html, body { height: 100%;  }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body.modal-open {
  overflow: hidden;
}

.column {
  float: left;
  width: 20%;
  padding: 10px 34px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.flexContainer{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem;
  justify-content: center;
}

.mat-sidenav{
  background-color: #EFF4FB;
  width: 250px;
}

.liked{
  border: 2px solid red;
}

.mat-drawer-container {
  background-color: white;
}


